<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyanzhao.sens.mapper.CampaignMapper">
  <resultMap id="BaseResultMap" type="com.liuyanzhao.sens.entity.Campaign">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="cp_one" jdbcType="VARCHAR" property="cpOne"/>
    <result column="cp_two" jdbcType="VARCHAR" property="cpTwo"/>
    <result column="cp_three" jdbcType="VARCHAR" property="cpThree"/>
  </resultMap>

</mapper>